[Desktop Entry]
Version=1.0
Name=XAMPP start/ stop
Comment=Start/stop XAMPP
Exec=/home/axjunes/./.start_lampp.sh
Icon=/usr/share/icons/xampp.png
Terminal=true
Type=Application
Categories=Application;

